<section class="contact_us container">
    <div
      class="contact_us__icons"
      style="background-color: gold; height: 100px"
    >
      icon
    </div>
    <div
      class="contact_us__address"
      style="background-color: violet; height: 100px"
    >
      number ,address
    </div>
    <div
      class="contact_us__map"
      style="background-color: palevioletred; height: 100px"
    >
      map
    </div>
    <div
      class="contact_us__form"
      style="background-color: tan; height: auto"
    >
      form
    </div>
  </section>