<section class="contact_us container">
    <div class="concat-us__social">
      <span class="icon-container">
        <svg class="icon">
          <use xlink:href="/assets/images/svgsprite.svg#linkedin"></use>
        </svg>
      </span>
      <span class="icon-container">
        <svg class="icon">
          <use xlink:href="/assets/images/svgsprite.svg#Vector-1"></use>
        </svg>
      </span>
      <span class="icon-container">
        <svg class="icon">
          <use xlink:href="/assets/images/svgsprite.svg#Vector"></use>
        </svg>
      </span>
    </div>
    <div class="contact_us__icons" style="height: auto">
      <div class="icon-holder">
        <span class="icon-holder__lable"
          >ایران- کرمان - خیابان 21کوچه110</span
        >
        <span class="icon-container">
          <svg class="icon">
            <use xlink:href="/assets/images/svgsprite.svg#Location"></use>
          </svg>
        </span>
      </div>
      <div class="icon-holder">
        <span class="icon-holder__lable">+989185469586</span>
        <span class="icon-container">
          <svg class="icon">
            <use xlink:href="/assets/images/svgsprite.svg#Mask group"></use>
          </svg>
        </span>
      </div>
      <div class="icon-holder">
        <span class="icon-holder__lable">info@gmail.com</span>
        <span class="icon-container">
          <svg class="icon">
            <use xlink:href="/assets/images/svgsprite.svg#Message"></use>
          </svg>
        </span>
      </div>
    </div>
    <div class="contact_us__map">
      <img class="contact_us__map__img" src="/assets/images/@ map screen.png" alt="">
    </div>
    <div class="contact_us__form">
      <div class="form-wrapper">
        <h3>نظرات شما</h3>
        <form>
          <input type="text" placeholder="نام ونام خانوادگی ">
          <input type="email" dir="ltr" placeholder="ایمیل خود را وارد کنید">
          <textarea name="" id="" cols="30" rows="10"></textarea>
          <button class="btn btn--primary" type="submit">ثبت نظر</button>
        </form>
      </div>
    </div>
  </section>