<section class="feature container">
    <div class="feature__image">
      <img src="/assets/images/ax1.png" alt="ax1" />
    </div>
    <div class="feature__detail">
      <h2 class="feature__title">خدمات تپسی برای کسب وکارها</h2>
      <p class="feature__text">
        پنل سازمانی تپسی یک سامانه تحت وب است که به سادگی امکان درخواست همزمان
        تعداد نامحدودی خودرو و پیک را برای کسب وکارها وسازمان ها فراهم می آورد
        وبا استفاده از آن میتوانید ماموریت های درون شهری وارسال کالاهای خود را
        به سادگی مدیریت کنید
      </p>
      <button class="btn btn--primary">ورود و ثبتنام پنل سازمانی</button>
    </div>
  </section>